body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/bg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    background: #ffab56d6;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

.form button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    outline: 0;
    background: #16931b;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;

}

.form button:hover,.form button:active{
    background: #107813;
}

.form .message{
    margin: 15px 0 0;
    color: rgb(1, 60, 84);
    font-size: 17px;
}

.form .message a{
    color: #4e4caf;
    text-decoration: none;
}
.form .register-form{
    display: none;
}